.container {
    &_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (min-width: $tv) {
    .container {
        &_header {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
