.container {
    &_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40px);
        column-gap: 5%;
        justify-items: center;
        align-items: center;
    }

    &_bonus {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    &_categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 5%;
        margin-bottom: 2em;
    }

    &_cards {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media (min-width: $tv) {
    .container {
        &_header {
            grid-template-columns: 0.8fr 0.3fr 0.7fr 2fr;
            column-gap: 1%;
        }

        &_bonus {
            flex-direction: row;
            justify-content: space-between;
            gap: 4em;
        }

        &_cards {
            width: 620px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: $pv) {
    .container {
        &_header {
            width: 50%;
            margin: 0 auto;
        }

        &_bonus {
            width: 800px;
        }

        &_cards {
            width: 960px;
        }
    }
}
