.container {
    margin: 0 auto;
    &_bonus,
    &_cards,
    &_sum,
    &_games,
    &_info,
    &_partners {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2em;
    }
    &_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50px);
        column-gap: 5%;
        justify-items: center;
        align-items: center;
    }

    &_bonus {
        margin: 0 auto;
        margin-bottom: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }

    &_categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        row-gap: 5%;
        margin-bottom: 2em;
    }

    &_cards {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &_sum {
        text-align: center;
    }

    &_games {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }

    &_info {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

@media (min-width: $tv) {
    .container {

        &_header {
            grid-template-columns: 0.8fr 0.3fr 0.7fr 2fr;
            column-gap: 1%;
        }

        &_bonus {
            flex-direction: row;
            justify-content: space-between;
            gap: 4em;
        }

        &_cards {
            width: 620px;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
}

@media (min-width: $pv) {
    .container {
    &_header,
    &_bonus,
    &_cards,
    &_games,
    &_sum,
    &_info,
    &_partners {
        width: 960px;
        margin-bottom: 3em;
    }
        &_categories {
            width: 60%;
        }

        &_bonus {
            width: 800px;
        }

        &_cards,
        &_info {
            width: 1200px;
        }

        &_games {
            flex-direction: row;
            justify-content: space-between;
            gap: 1em;
        }
    }
}
