@font-face {
    font-family: 'Grade';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Grade.woff2") format('woff2');
}

@font-face {
    font-family: 'Helveticaneuecyr_roman';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/helveticaneuecyr_roman.woff2") format('woff2');
}
