.link {
    text-decoration: none;
    color: var(--white);
    height: inherit;

    &_social {
        display: block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: url(../img/sprite-social-networks.webp);
    }

    &_social:nth-child(1) {
        background-position: -2px 61px;
    }

    &_social:nth-child(2) {
        background-position: -67px 95px;
    }

    &_social:nth-child(3) {
        background-position: -134px 27px;
    }

    &_social:nth-child(4) {
        background-position: -100px 94px;
    }

    &_social:nth-child(5) {
        background-position: -68px 61px;
    }

    &_social:nth-child(6) {
        background-position: -100px 61px;
    }

    &_reg {
        border-radius: 15px;
        background-color: var(--orange);
        border: none;
        padding: 3px 15px;
        font-size: 80%;
    }

    &_sign {
        display: none;
    }

    &_social {
        font-size: 0;
    }

    &_bonus {
        background-color: var(--green);
        padding: 1.5em 4em;
        border-radius: 3em;
        font-weight: 600;
    }

    &_categories {
        color: var(--black);
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        flex-basis: 110px;
        font-size: 0.8em;
    }

    &_games {
        color: var(--blue);
        font-family: 'Helveticaneuecyr_roman', sans-serif;
        font-size: 130%;
        align-self: center;
        text-align: center;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
    }

    &_partners {
        color: var(--links-partners);
    }

    &_partners:hover {
        color: var(--blue);
    }

    &_play,
    &_demo {
        height: auto;
    }

    &_play {
        background-color: var(--green);
        padding: 10px 20px;
        border-radius: 20px;
    }

    &_demo {
        color: var(--black);
        text-decoration: underline dotted var(--black);
    }
}

@media (min-width: $tv) {
    .link {
        &_sign {
            display: inline;
        }

        &_games {
            font-size: 210%;
        }
    }
}

@media (min-width: $pv) {
    .link {
        &_categories:hover {
            color: var(--blue);
        }

        &_games {
            font-size: 100%;
        }
    }
}