.social {
    &_header {
        display: none;
    }
}

@media (min-width: $tv) {
    .social {
        display: block;
        &__wrapper {
            width: 200px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &_header {
            display: flex;
            justify-self: stretch;
            gap: 2%;
            align-items: center;
            font-size: 70%;
        }
    }
}
